body{
    line-height: 1;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
/* ###### Nav bar ###### */

nav{
    display: block;
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right; 
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    color: #666;
}

ul.topnav li a:hover{
    background-color: #202020;
    color: #fff;
}
ul.topnav li a:active{
    background-color: #202020;
    color: #fff;
}
/* ###### Body default ###### */

/* .container{
    width: 100%;
    margin: auto
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
} */

.row{
    width: 100%;
    display: flex; /*change size*/
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
    box-sizing: border-box;
}

/* ###### Body Custom ###### */

#section-1-gradient{
    background: #202020;
    /* background: -webkit-linear-gradient(#076DFF,#65a5ff);
    background: -o-linear-gradient(#076DFF, #65a5ff);
    background: -moz-linear-gradient(#076DFF, #65a5ff);
    background: linear-gradient(#076DFF,#65a5ff);*/
    position: absolute;
    height: 100%;
    width: 100%;
}

p{
    font-size: 15px;
    line-height: 1.2;
    animation: slide 1s forwards;
}

h2.large{
    color: #fff;
    font-size: 25px;
    margin: auto;
    text-align: center;
    padding: 40px;
    animation: slide 1s forwards;
}

input[type="text"]{
    font-size: 15px;
    width: 350px;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    animation: slide 1s forwards;
}

form h3{
    color: white;
    animation: slide 1s forwards;
}
.leftSide-col{
    margin: auto;
    padding-left: 35%;
    padding-right: 35%;
    animation: slide 1s forwards;

}
.button{
    font-size: 15px;
    font-weight:500;
    color: #fff;
    background-color: #0069ff;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    border-radius: 20px;
    font-family: monospace;
    background-color: rgb(42, 148, 190);
    border: 2px solid orange;
}
.button:hover{
    color: #fff;
    background-color: rgb(31, 117, 151);;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ###### Mobile ###### */

@media screen and (max-width: 680px){
    .col-12{
        width: 100%;
        margin: 0;
    }

    div.leftSide-col, {
        margin: 15px;
    }

    input[type="text"]{
        width: 200px;
    }

    div.mobileStack{
        width: 50%;
        display: block;
    }
    h2.large{
        font-size: 20px;
    }
    .container{
        padding-top: 20%;
        padding-bottom: 40%;
    }
    .leftSide-col{
        margin: auto;
        padding-left: 20%;
        padding-right: 20%;
    }

}
