body{
    line-height: 1;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #201c1c; */
}
/* ###### Nav bar ###### */

nav{
    display: block;
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right; 
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    color: #666;
}
ul.topnav li a:hover{
    background-color: #202020;
    color: #fff;
}
ul.topnav li a:active{
    background-color: #202020;
    color: #fff;
}

/* ###### Body default ###### */

.row{
    width: 100%;
    display: flex; /*change size*/
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
    box-sizing: border-box;
}

/* ###### Body Custom ###### */

#section-1-gradient{
    background: #201c1c;
    /* background: -webkit-linear-gradient(#076DFF,#65a5ff);
    background: -o-linear-gradient(#076DFF, #65a5ff);
    background: -moz-linear-gradient(#076DFF, #65a5ff);
    background: linear-gradient(#076DFF,#65a5ff); */
    position: absolute;
    height: 100%;
    width: 100%;
}

h2.large{
    color: #fff;
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 7%;
    animation: slide 1s forwards;
}
div.inst{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    margin: auto;
    text-align: center;
    padding: 40px;
    animation: slide 1s forwards;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.inst2{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    margin: auto;
    text-align: center;
    animation: slide 1s forwards;
}
div.inst3{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin: auto;
    text-align: center;
    animation: slide 1s forwards;
}
div.but{
    text-align: center;
}

.button{
    font-size: 15px;
    font-weight:500;
    color: #fff;
    background-color: #0069ff;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    border-radius: 20px;
    font-family: monospace;
    background-color: rgb(42, 148, 190);
    border: 2px solid orange;
}
.button:hover{
    color: #fff;
    background-color: rgb(31, 117, 151);;
}
#goBack{
    margin: 0;
    background: #202020;
    /* background: -webkit-linear-gradient(#076DFF,#65a5ff);
    background: -o-linear-gradient(#076DFF, #65a5ff);
    background: -moz-linear-gradient(#076DFF, #65a5ff);
    background: linear-gradient(#076DFF,#65a5ff); */
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%; 
    font-family: 'Ubuntu', sans-serif; 
}
p.para{
    padding-top: 15%;
    font-size: 30px;
}
a.underline{
    text-decoration: none;
}
#test{
    background: #202020;
    /* background: -webkit-linear-gradient(#076DFF,#65a5ff);
    background: -o-linear-gradient(#076DFF, #65a5ff);
    background: -moz-linear-gradient(#076DFF, #65a5ff);
    background: linear-gradient(#076DFF,#65a5ff); */
}

/* ###### Mobile ###### */

@media screen and (max-width: 680px){
    .col-12{
        width: 100%;
        margin: 0;
    }

    input[type="text"]{
        width: 200px;
    }

    div.mobileStack{
        width: 50%;
        display: block;
    }
    h2.large{
        font-size: 20px;
        padding: 5px;
        padding-top: 20%;
    }
    div.inst{
        padding: 5px;
    }

}
