{% load static %}
<!doctype html>
<html lang="en">
 
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'contactStyles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Ubuntu&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=200" />
    <link rel = "icon" href = "{% static 'images/aboutlogo.png' %}" type = "image/x-icon">
</head>

<body id="bgcolor">
    <nav>
        <ul class="topnav">
            <li><a href="/">ExamProctor</a></li>
            <li class="topnav-right"><a href="about">About</a></li>
            <li class="topnav-right"><a href="contact">Contact</a></li>
        </ul>
    </nav>

    <header>
        <h1>Team Members</h1>
    </header>
    <div class="container">

        <div class="row">

            <div class="col-3">
                <div class="box">
                <div class="icon">
                    <img src="{% static 'images/1.png' %}">
                </div>
                <label>Piyush Kumar</label>
                <p>
                    <div class="subheading">Leader, Back-end</div>
                    <br>
                    LinkedIn: <a class="links" href="https://www.linkedin.com/in/piyush-in/">piyush-in</a>
                    <br>
                    GitHub: <a class="links" href="https://github.com/Piyush-onGIT">Piyush-onGIT</a>
                    <br>
                    &#9993; <a class="links" href="piyush.at.googl@gmail.com">piyush.at.googl@gmail.com</a>
                    <br>
                    🕿 6202872652 </p>
                </div>
            </div>

            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img src="{% static 'images/2.png' %}">
                    </div>
                    <label>Deepesh Genani</label>
                    <p>
                        <div class="subheading"> Back-end </div>
                        <br>
                        LinkedIn: <a class="links" href="https://www.linkedin.com/in/deepesh-genani-46668a22a/">deepesh-genani-46668a22a</a>
                        <br>
                        GitHub: <a class="links" href="https://github.com/ASCE-D">ASCE-D</a>
                        <br>
                        &#9993; <a class="links" href="deepeshgenani@gmail.com">deepeshgenani@gmail.com</a>
                        <br>
                        🕿 7869947476 </p>
                </div>
            </div>

            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img src="{% static 'images/3.png' %}">
                    </div>
                    <label>Piyush Bisen</label>
                    <p>
                        <div class="subheading"> Front-end </div>
                        <br>
                        LinkedIn: <a class="links" href="https://www.linkedin.com/in/piyush-bisen-19597122a/">piyush-bisen-19597122a</a>
                        <br>
                        GitHub: <a class="links" href="https://github.com/piyush-pb">piyush-pb</a>
                        <br>
                        &#9993; <a class="links" href="aliXir.pb@gmail.com">aliXir.pb@gmail.com</a>
                        <br>
                        🕿 9981759791 </p>
                </div>
            </div>

            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img src="{% static 'images/4.png' %}">
                    </div>
                    <label>Aniket Kumar</label>
                    <p>
                        <div class="subheading"> Front-end </div>
                        <br>
                        LinkedIn: <a class="links" href="https://www.linkedin.com/in/kraniket123654/">kraniket123654</a>
                        <br>
                        GitHub: <a class="links" href="https://github.com/Kraniket901">Kraniket901</a>
                        <br>
                        &#9993; <a class="links" href="kraniket123654@gmail.com">kraniket123654@gmail.com</a>
                        <br>
                        🕿 7717789081 </p>
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>
